<%- include('../layouts/main', { body: `

<div id="main-content" class="site-main clearfix">
    <div id="content-wrap" class="bg-color">
        <div class="bg-color-overlay"></div>
        
        <div class="themesflat-spacer clearfix" data-desktop="150" data-mobile="100" data-smobile="80"></div>
        
        <div class="container">
            <div class="text-center wow fadeInUp">
                <i class="fas fa-exclamation-triangle" style="font-size: 80px; color: #dc3545; margin-bottom: 30px;"></i>
                <h2 style="margin-bottom: 20px;">Error del Servidor</h2>
                <p style="color: #666; margin-bottom: 40px; max-width: 500px; margin-left: auto; margin-right: auto;">
                    Ha ocurrido un error inesperado. Por favor, intenta de nuevo más tarde.
                </p>
                <a href="/" class="button style-1 color-4" style="text-decoration: none;">
                    <span><i class="fas fa-home"></i> Volver al Inicio</span>
                </a>
            </div>
        </div>
        
        <div class="themesflat-spacer clearfix" data-desktop="150" data-mobile="100" data-smobile="80"></div>
    </div>
</div>

`}) %>
